# Backend
backend/tmp/
backend/go.sum
!backend/go.sum
backend/config.yaml

# Frontend
.astro/
frontend/node_modules/
frontend/.vite/
frontend/dist/
frontend/.env
frontend/.env.production
frontend/.pnpm-store

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.code-workspace

# Environment
.env
.env.local
*.log
